@header-background-color: #3498db; // Blue color for the header background
@menu-text-color: #fff; // White color for menu text
@dropdown-background-color: #2980b9; // Blue color for dropdown background
@card-background: #f2f2f2; // Grey background color
@card-border: 1px solid #e0e0e0; // Card border color
@card-border-radius: 8px; // Card border radius
@card-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Card box shadow
@card-width: 200px; // Card width as a percentage of the screen
@card-height: 40vh; // Card height as 40% of the viewport height

header {
  background-color: @header-background-color;
  color: @menu-text-color;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  nav {
    ul {
      list-style: none;
      display: flex;

      li {
        margin-right: 20px;

        a {
          text-decoration: none;
          color: @menu-text-color;

          &:hover {
            text-decoration: underline;
          }
        }

        &.dropdown {
          position: relative;

          .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: @dropdown-background-color;
            padding: 10px;
            list-style: none;

            li {
              margin-bottom: 10px;

              a {
                color: @menu-text-color;
                text-decoration: none;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }

          &:hover {
            .dropdown-menu {
              display: block;
              right: 0;
              left: auto;

              @media (min-width: 768px) {
                @media (max-width: calc(100% - 240px)) {
                  left: auto;
                  right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

body {
  .mat-card {
    position: relative;
    max-width: @card-width;
    min-width: @card-width;
    height: @card-height;
    background-color: @card-background;
    border: @card-border;
    border-radius: @card-border-radius;
    box-shadow: @card-box-shadow;

    // You can add more styling as needed
    padding: 16px;
    margin: 16px;
    // ... other styles
  }

  .card-content {
    flex: 1; // Expand to take remaining space
    padding: 16px;

    p.footer {
      bottom: 0;
      position: sticky;
    }
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left; // Adjust as needed

    .mat-card {
      margin-bottom: 16px; // Adjust as needed
    }
  }
}

